<h1>TinyURL App</h1>

<% if(user) { %>
  <form method="POST" action="/logout">
    <label><h2>Welcome, <%= user.email %></h2></label>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <label>Login: </label>
    <input type="text" name="emailLogin">
    <input type="submit" value="Login">
  </form>

<% } %>






<!-- <% if(username === undefined) { %>
  <form method="POST" action="/login">
    <label>Login: </label>
    <input type="text" name="username">
    <input type="submit" value="Login">
  </form>
<% } else { %>
  <form method="POST" action="/logout">
    <label>Welcome, <%= username %>!</label>
    <input type="submit" value="Logout">
  </form>
<% } %> -->
