<!DOCTYPE html>
<html>
<head>
  <title>TinyURL App</title>
</head>
<body style="margin:150px">
  <h2>Sorry, email and password are required. &nbsp;&nbsp;<span style="font-weight:bold;">--></span> <a href="/register">Register again.</a></h2>

</body>
</html>