<!DOCTYPE html>
<html>
<head>
  <title>TinyURL App</title>
</head>
<body style="font-size:20px; padding:50px">
  <h1>Welcome to TinyURL App!!!</h1>
  <h3></h3>
  <form method="POST" action="/login" style="margin: 150px">
    <label>Login: </label>
    <input type="text" name="email">
    <input type="submit" value="Login">
  </form>
</body>
</html>

