<!DOCTYPE html>
<html>
<head>
  <title>TinyURL App</title>
</head>
<body style="margin:150px">
  <h2>Sorry. Should be logged in to view a page. &nbsp;&nbsp;<span style="font-weight:bold;">--></span> <a href="/login">Try again.</a></h2>
</body>
</html>