<!DOCTYPE html>
<html>
<head>
  <title>TinyURL App</title>
</head>
<body>
  <h1>Welcome to TinyURL App!!!</h1>
  <h3>Please register first to proceed.</h3>
  <form method="POST" action="register">
    <label for="email" name="email">Email</label>
    <input type="email" name="email" placeholder="example@abc.com">
    <label for="password" name="password">Password</label>
    <input type="password" name="password" placeholder="#######">
    <input type="submit" name="submit" value="Register">
  </form>
</body>
</html>