

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <% include ./partials/_header %>
    <h3> URL SHOW </h3>
    <ul>
        <li><%= shortURL %>: <%= longURL %></li>
    </ul>
  </body>
</html>