

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <h3> URL SHOW </h3>
    <ul>
        <li><%= shortURL %></li>
        <li><%= longURL %></li>
    </ul>
  </body>
</html>