

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <h3> URL INDEX </h3>
    <ul>
      <% for(var url in urls) { %>
        <li><%= urls[url] %></li>
      <% } %>
    </ul>
  </body>
</html>