<!DOCTYPE html>
<html lang='en'>

<head>
  <title>TinyURL App</title>
  <style>
    #allPage {
      width: 980px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

</head>

<body style="font-size:20px; padding:50px">
  <div id="allPage">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input type="text" id="longURL" name="longURL" placeholder="http://" style="width:300px">
      <input type="submit" value="Submit">

    </form>
  </div>
</body>

</html>