

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <% include ./partials/_header %>
    <h3> URL INDEX </h3>
    <ul>
      <% for(var url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <li><%= url %>: <%= urls[url] %></li>
          <input type="submit" value="delete">
        </form>
      <% } %>
    </ul>
    <a href="http://localhost:8080/urls/new/">Click to see Short URL</a>
  </body>
</html>