<!DOCTYPE html>
<html>
<head>
  <title>TinyURL App</title>
</head>
<body style="font-size:20px; padding:50px">
  <h1>Welcome to TinyURL App!!!</h1>
  <a href="/register"><input type="button" value="Register"></a>
  <a href="/login"><input type="button" value="Login"></a>
</body>
</html>

